@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic);

body{
	margin: 0;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 400;
}

h1{
	font-family: 'Lato', sans-serif;
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.67em;
	font-size: 48px;
}

h2{
	font-family: 'Lato', sans-serif;
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.67em;
	font-size: 22px;
	font-weight: 300;
}

.thin{
	font-weight: 200;
}

.light{
	font-weight: 300;
}

.bold{
	font-weight: 700;
}

#nav{
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 1;
	min-height: 94px;
	z-index: 1;
}

#title{
	position: relative;
	margin-left: 25px;
	float: left;
	width: 510px;
}

#menu{
	position: absolute;
	display: block;
	padding-right: 25px;
	bottom: 0;
	margin-left: 25px;
	background-color: #fdfdfd;
}

#menu ul { list-style-type: none; margin-top: 0;}
#menu ul li {display: inline;}
#menu ul li h2{text-decoration: none; text-align: right;}

.menu_item{

	position: relative;
	margin-right: 25px;
}

#menu_toggle{
	position: absolute;
	background-image: url(resources/menu.png);
	background-repeat: no-repeat;
	margin-right: 25px;
	width: 40px;
	height: 30px;
	right: 0;
	bottom: 33%;
	z-index: 1;
}

.landing_section{
	position: relative;
	top: 0;
	left: 0;
}

.section{

	position: relative;
	left: 0;
	float: left;
	width: 100%;
	height: 100%;
	
}


img.landing_img{
	position: absolute;
	top: 0;
	}

#wrapper{
	width: 100%;
}

#landing{
	overflow: hidden;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#splash{
	z-index: 0;
}

#intro{
	background-color: rgba(255,255,255,0.7);
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#intro_wrapper{
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

#erica_portrait{
	position: relative;
	left: 0;
	height: 250px;
	float: left;
	margin-right: 150px;
}

#erica_text{
	display: table;
	height: 100%;

}

#erica_text p{
	display: table-cell;
	vertical-align: middle;
}

#team{
	background-color: #00698C;
}

#about{
	background-color: #2284B6
}

#updates{
	background-color: #00A3D9;
}
