/*--------SITE WIDE--------*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic);

html{
	overflow-x: hidden;
}

body{
	margin: 0;
	overflow-x: hidden;
	min-width: 1024px;
}

/*--------TEXT STYLING--------*/


h1, h2, h3, h4, p, ul, ol, button{
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
}

h1{
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.67em;
	font-size: 48px;
}

h2{
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.67em;
	font-size: 24px;
	font-weight: 300;
}

.menu_item h2{
	font-size: 20px;
}

h3{
	font-size: 22px;
	font-weight: 300;
}

h3.intro_text{
	font-size: 30px;
	font-weight: 400;
}

h4{
	margin-top: 6px;
	text-align: center;
	-webkit-margin-after: 0;
	font-size: 18px;
}

a{
	color: #cccccc;
}

p, ol, ul{
	font-size: 20px;
	font-weight: 300;
}

p.name{
	margin-top: 6px;
	text-align: center;
	-webkit-margin-after: 0;
	font-size: 15px;
}

.thin{
	font-weight: 200;
}

.light{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.semibold{
	font-weight: 500;
}

.bold{
	font-weight: 700;
}

.section_header{
	font-size: 32px !important;
}

.section_body{
	font-size: 20px;
}


.tag_line{
	text-align: center;
}

/*--------STRUCTURE--------*/

ul.no_bullet li span{
	margin-top: 6px;
	margin-bottom: 6px;
}

.list_indent{
	padding-left: 2em;
}

.spaceList{
	margin-bottom: 12px;
}



.no_bullet{
	list-style: none;
}



.smallSection{
	float: left;
	position: relative;
	background-color:#575757;
	width: 100%;
}

.threeColumn{
	width: 33%;
	float: left;
	margin-top: 50px;
}



.float_right{
	position: relative;
	float: right;
	margin-left: 18px;
}

.float_left{
	position: relative;
	float: left;
	margin-right: 42px;
}

.caption{
	font-size: 14px;
	font-weight: 100;
	float: left;
}

.border_white{
	border: 3px solid #eeeeee;
}

.image_wrap_small{
	width: 200px;
}

.image_wrap_medium{
	width: 250px;
}

.large_element{
	position: relative;
	float: left;
	width: 1200px;
	padding-left: 50px;
	padding-right: 50px;
}

.mid_element{
	position: relative;
	float: left;
	width: 250px;
	padding-right: 50px;
}

.small_element{
	position: relative;
	float: left;
	width: 150px;
	padding-left: 50px;
}

.person{
	display: block;
	height: 275px;
}

.past{
	margin-top: 6px;
}

.section{
	position: relative;
	float: left;
	display: table;
	width: 100%;
	padding-top: 125px;
	padding-bottom: 30px;
}

.right_section{
	position: relative;
	float: left;
	min-width: 674px;
	width: 66%;
	max-width: 750px;
}

.left_section{
	position: relative;
	float: left;
	width: 250px;
	margin-right: 50px;
}

.landing_img{
	position: absolute;
	top: 0;
}

#wrapper{
	width: 100%;
}



.intro_text{
	color: black;
}

.content_wrapper{
	position: relative;
	display: table;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
	min-width: 974px;
	width: 90%;
	max-width: 1200px;
}

.centerWrapper{
	position: relative;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.tableDisp{
	display: table;
}

.cellWrapper{
	position: relative;
	width: intrinsic;
	height: intrinsic;
	display: table-cell;
	vertical-align: middle;
}


.overlay{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.4);
}

.arrow-down {
	position: absolute;
	bottom: -20;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}



/*MAIN SECTIONS*/

/*--------HEADER--------*/
#erica_portrait{
	float: left;
	margin-right: 100px;
	top: -45px;
	margin-top: 25px;
}

#erica_text{
	display: table;
	height: 100%;
	margin-top: 24px;
}

#erica_text h3{
	display: table-cell;
	vertical-align: middle;
}

#nav{
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1;
	height: 98px;
	z-index: 1;
	min-width: 1024px;
}

#title{
	position: relative;
	margin-left: 25px;
	float: left;
	cursor: pointer;
}

#title h1 a{
	text-decoration: none;
	color: black;
}

#menu{
	position: relative;
	float: right;
	display: block;
	padding-right: 25px;
	bottom: 0;
	background-color: #fdfdfd;
}

#menu ul { list-style-type: none; margin-top: 25px;}
#menu ul li {display: inline; float: left;}
#menu ul li h2{text-decoration: none; text-align: left;}

.menu_item{
	cursor: pointer;
	position: relative;
	margin-right: 25px;
}

.menu_item h2 a{
	color: black;
	text-decoration: none;
}

#menu_toggle{
	position: absolute;
	background-image: url(../../resources/menu.png);
	background-repeat: no-repeat;
	margin-right: 25px;
	width: 40px;
	height: 30px;
	right: 0;
	bottom: 33%;
	z-index: 1;
}

.landing_section{
	position: relative;
	top: 0;
	left: 0;
}

#landing{
	overflow: hidden;
	height: 105%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#splash{
	z-index: 0;
	background-image: url(../../resources/landing.jpg);
	width: 100%;
	height: inherit;
}

#intro{
	background-color: rgba(255,255,255,0.7);
	display: block;
	width: 100%;
	height: 300px;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*--------TEAM--------*/
#team{
	background-color: #00698C;
}

/*--------ABOUT--------*/
#about{
	background-color: #2284B6;
}


/*--------UPDATES--------*/
#updates{
	background-color: #00A3D9;
}

.update{
	position: relative;
	float: left;
	width: 500px;
}

.date{
	position: relative;
	float: left;
	width: 200px;
}

/*--------PUBLICATIONS--------*/
#publications{
	background-color: #006A8D;
}

/*--------CONTACT--------*/
#contact{
	background-color: #2284B6;
}

form.emailForm{
	position: relative;
	min-width: 550px;
	width: intrinsic;
}

form.emailForm input, textarea{
	min-width: 550px;
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
}

form.emailForm input{
	height: 45px;
	border-bottom: 1px solid #c3c3c3;
}

form.emailForm textarea{
	height: 250px;
	padding-top: 12px;
}

form.emailForm input[type=submit]{
	font-size: large;
	font-family: 'Lato', sans-serif;
}

#formConfirm{
	position: fixed;
	float: left;
	top: -25;
	z-index: 10;
	height: 25px;
	width: 100%;
	background-color: #595959;
}

#formConfirm p{
	margin: 0;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}

#submitButton{
	width: 100%;
	background-color: #7f7f7f;
	color: white;
	border: none;
	height: 35px;
	font-size: x-large;
	font-weight: 100;
	cursor: hand;
}

/*--------PRESS--------*/
#press{
	background-color: #00A3D9;
}

.logoimg{
	margin-top: 12px;
	margin-bottom: 12px;
}

/*--------FOOTER--------*/
#footer{
	background-color:#575757;
	height: intrinsic;
	display: block;
}
#footerTitle{
	float: left;
	margin-left: 24px;
}

#footerTitle p{
	font-size: 20px;
}

#footerNav{
	float: left;
	position: relative;
	width: 400px;
	margin-left: 8%;
}

.footerLink{
	float: left;
	position: relative;
	width: 100px;
	margin-left: 24px;
}

.footerLink p{
	margin-bottom: 6px;
	margin-top: 6px;
}

#footerCopyright{
	float: right;
	position: relative;
	width: 150px;
	margin-right: 50px;
}

#footerBrown{
	float: right;
	margin-right: 24px;
	margin-bottom: 12px;
	margin-top: 12px;
	width: 100px;
}